html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.z-index {
  z-index: -1;
}

.z-index-2 {
  z-index: -2;
}

.z-index-3 {
  z-index: -10;
}

body {
  @apply text-base; /* Varsayılan font size */
}

@media (min-width: 640px) {
  body {
    @apply text-sm; /* Küçük ekranlar için (640px ve yukarısı) */
  }
}

@media (min-width: 768px) {
  body {
    @apply text-lg; /* Orta ekranlar için (768px ve yukarısı) */
  }
}

@media (min-width: 1024px) {
  body {
    @apply text-xl; /* Büyük ekranlar için (1024px ve yukarısı) */
  }
}

@media (min-width: 1280px) {
  body {
    @apply text-2xl; /* Çok büyük ekranlar için (1280px ve yukarısı) */
  }
}
